{% extends '@theme/base.html.twig' %}

{% block body %}
    <h1>Error</h1>
    <p>
        The requested resource is unavailable. Checkout for any URL
        misspelling or <a href="/">return to the homepage</a>.
    </p>
{% endblock %}
