{% extends '@theme/base.html.twig' %}

{% block body %}
    <h1>403 Forbidden</h1>

    <p>
        The request resourse is forbidden.<br/>
		<a href="/">Return to the homepage</a>.
    </p>
{% endblock %}
