{% extends '@theme/base.html.twig' %}

{% block body %}
    <h1>500 Server Error</h1>
    <p>We could not process your request - the website may be down for maintenance or may be experiencing abnormal load</p>
{% endblock %}
