<div class="has-feedback">
    <form id="searchform" method="get">
      <input type="text" name="search" class="form-control input-sm" value="{{search_string}}" placeholder="Search">
      <span id="searcbox_submit" class="glyphicon glyphicon-search form-control-feedback"></span>
    </form>
</div>
