
        <h3>Recent posts</h3>
          <!--Vertical Menu-->
          <ul class="vert-nav-ul">
            <li><a title="one" href="#">Post title one</a></li>
            <li><a title="two" href="#">Post title two</a></li>
            <li><a title="three" href="#">Post title three etc</a></li>
          </ul>
          <!--End Vertical Menu-->

          <h3>Categories</h3>
          <!--Vertical Menu-->
          <ul class="vert-nav-ul">
            <li><a title="one" href="#">Category name one</a></li>
            <li><a title="two" href="#">Category name two</a></li>
            <li><a title="three" href="#">Category name three</a></li>
            <li><a title="four" href="#">Category name four etc</a></li>
          </ul>
          <!--End Vertical Menu-->

          <h3>Blogroll</h3>
          <!--Vertical Menu-->
          <ul class="vert-nav-ul">
            <li><a title="one" href="#">Here is a link</a></li>
            <li><a title="two" href="#">There is another</a></li>
          </ul>
          <!--End Vertical Menu-->
