/* //////////////////////////////// */
/* PROTOCMS FRONTEND ADMIN STYLES   */
/* //////////////////////////////// */

.adminControlButtons{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 100px;

}

.inlineEditorToolboxLink{
    display:inline-block;
    margin-top:-15px;
    margin-left:-1px;
    font-size:10px;
    background-color:#367fa9;
    color:#fff;
    padding-left:4px;
    padding-right:3px;
    line-height: 15px;
}

.inlineEditorContainer{
    border:1px dotted #367fa9;
    display:block;
    /*display:inline-block;*/
}

.inlineEditorToolboxContainer,
.inlineEditorToolboxSave,
.inlineEditorToolboxClose{
    position:absolute;
    display:inline-block;
    margin-top:-15px;
    margin-left:-1px;
    font-size:10px;
    background-color:#367fa9;
    color:#fff;
    padding-left:4px;
    padding-right:3px;
    line-height: 15px;
}


.inlineEditorToolboxClose{
    right: 0;
    margin-right: 15px;
    }

.inlineEditorToolboxSave{
    right: 0;
    /*margin-right: 36px;*/
    margin-right: 15px;
}
.inlineEditorToolboxSave a,
.inlineEditorToolboxLink a,
.inlineEditorToolboxClose a {
    color:#fff !important;
    cursor: pointer;
}
