{% extends '@theme/base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
  <h1>Special User Login</h1>
  {% if error %}
      <div>{{ error.message }}</div>
  {% endif %}

  <form action="{{ path('special_login_check') }}" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="_password" />

      <input type="hidden" name="_target_path" value="/special-user/dash" />

      <input type="submit" name="login" />
  </form>
{% endblock %}

{% block stylesheets %}
{% endblock %}
