
    <div class="right">
        {{ '{{ form_start(delete_form) }}' }}
            <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        {{ '{{ form_end(delete_form) }}' }}
    </div>
